{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "quotes": [2, "double"],
    // "prettier/prettier": ["error", { "quotes": [2, "double"], "semi": null }]
  },
  "plugins": ["@typescript-eslint", "prettier"]
}
